# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Shell scripts should have LF line endings.
*.sh text eol=lf

# RPM specs should have LF line endings.
*.spec text eol=lf
